<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/css/bootstrap.min.css" />		
		<link rel="stylesheet" href="/css/styles.css" />		
	</head>	

	<body>	

		<header class="container">
			This is the header
			<br /> It is now served with the file 'header.hbs' from folder 'views/partials'.
			<br />
			<br /><a href="/">Go to Home Page</a>
			<br /><a href="/about">Go to About Page</a>
			<hr />
		</header>