{{> header }}

<div class="container">
	<h3>{{pageTitle}}</h3>
	<h4>{{capIt pageMessage}}</h4>
	This is the home route ('/').
	<br /> It is now served with the file 'about.hbs' from folder 'views'.
	
</div>

{{> footer }}
